body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f8f8fc;
}

button {
	cursor: pointer;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.container {
	display: flex;
	justify-content: center;
}

.tree {
	height: auto;
	text-align: center;
	cursor: move;
}

.tree ul {
	padding-top: 20px;
	position: relative;
	transition: 0.5s;
	white-space: nowrap;
}

.tree li {
	display: inline-table;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 10px;
	transition: 0.5s;
}

.tree li::before,
.tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #ccc;
	width: 51%;
	height: 10px;
}

.tree li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}

.tree li:only-child::after,
.tree li:only-child::before {
	display: none;
}

.tree li:only-child {
	padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
	border: 0 none;
}

.tree li:last-child::before {
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #ccc;
	width: 0;
	height: 20px;
}

.card {
	border: 1px solid rgb(232, 218, 22);
	padding: 10px;
	display: inline-grid;
	border-radius: 5px;
	text-decoration-line: none;
	border-radius: 5px;
	transition: 0.5s;
	width: 300px;
	height: 100px;
	background-color: #fff;
	position: relative;
}

.logo {
	font-size: 30px;
	font-weight: bold;
	text-shadow: #fc0 1px 0 10px;
}

.modal {
	position: absolute;
	bottom: -210px;
	left: 0px;
	width: 300px;
	height: 200px;
	background-color: white;
	border: 1px solid black;
	border-radius: 4px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid rgb(247, 239, 123);
	box-shadow: rgb(247, 239, 123) 0px 5px 15px;
}

.modal_title {
	font-size: 20px;
	text-shadow: #fc0 4px 0 10px;
	margin-bottom: 20px;
}

.modal_buttons {
	display: flex;
	gap: 4px;
}

.modal_button {
	width: 100px;
	height: 40px;
	text-align: center;
	text-transform: uppercase;
	background-color: rgb(249, 241, 142);
	border: 1px solid rgb(232, 218, 22);
	border-radius: 4px;
	font-size: 14px;
}
